@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

* {
    margin: 0;
}

:root {
    --font--titulo: 'Sriracha', cursive;
    --font--texto: 'Montserrat', sans-serif;
}

.imgCultura {
    background: url("../public/img/culturaAlema3.jpg") fixed center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Titulo {
    font-family: var(--font--titulo);
    font-size: 80px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.568);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.culturaTitulo {
    font-family: var(--font--titulo);
    font-size: 50px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.568);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    margin-top: 3rem;
}

.App-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
}

.culturaDIV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.culturaDivConteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}

.culturaDivConteudo h3{
    width: auto;
    font-size: 22px;
    background-color: rgba(255, 251, 0, 0.219);
    padding: 2.5rem;
    height: auto;
    border-radius: 25px;
    margin: 1rem;
    font-family: var(--font--texto);
    font-weight: 300;
}

.culturaDivConteudo img{
    border-radius: 10px;
    height: 300px;

}

/* Turismo */

.imgTurismo {
    background: url("../public/img/teste.jpg") fixed center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turismoTitulo {
    font-family: var(--font--titulo);
    font-size: 50px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.568);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}


.turismoDIV {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turismoDivConteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}

.turismoDivConteudo h3{
    width: auto;
    font-size: 22px;
    background-color: rgba(255, 0, 0, 0.219);
    padding: 2.5rem;
    height: auto;
    border-radius: 25px;
    margin: 1rem;
    font-family: var(--font--texto);
    font-weight: 300;
}

.turismoDivConteudo img{
    border-radius: 10px;
    height: 300px;
}

/* Oktoberfest */

.imgOktober {
    background: url("../public/img/choop.jpg") fixed center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OktoberTitulo {
    font-family: var(--font--titulo);
    font-size: 50px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.568);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}


.OktoberDIV {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OktoberDivConteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}

.OktoberDivConteudo h3{
    width: auto;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.219);
    padding: 2.5rem;
    height: auto;
    border-radius: 25px;
    margin: 1rem;
    font-family: var(--font--texto);
    font-weight: 300;
}

.OktoberDivConteudo img{
    border-radius: 10px;
    height: 300px;
}

/* ME */

.imgMe {
    background: url("../public/img/me.jpg") fixed center;
    background-size: cover;
    height: 575px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MeTitulo {
    font-family: var(--font--titulo);
    font-size: 50px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.568);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.MeDIV {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.MeDivConteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.MeTeste {
    background: url("../public/img/me.jpg") fixed center;
    background-size: cover;
    padding: 1rem;
    border-radius: 25px;
}

.MeTeste h3{
    width: auto;
    font-size: 22px;
    padding: 1rem;
    height: auto;
    border-radius: 25px;
    margin: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.668);
    font-family: var(--font--texto);
    font-weight: 600;
}

.icon {
    margin: 10px;
    width: 50px;
    height: 50px;
}